<div class="row">
    <div class="col-md-8 offset-md-2">



<div class="head" style="margin-top: 5vh; text-align:center;">
        <p><%= link_to  "Home", root_path, class:"btn btn-primary btn-lg" %> | <%= link_to  "Posts", articles_path, class:"btn btn-primary btn-lg" %></p>
</div><hr>


<h1 style="text-align: center;"> Edit Article !</h1>

 <div class="card" style="padding: 5vh;">
        <%= form_for @article do |f| %>
        <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title, class:'form-control' %> 
        </div>

        <div class="form-group">
            <%= f.label :text %><br>
            <%= f.text_area :text, class:'form-control' %>
        </div>

        <div class="form-group">
             <%= f.submit class:'btn btn-primary'%>
        </div>
<% end %>
 </div>



    </div>
</div>