<p><strong>Title: </strong>
<%= @article.title %>
</p><br><hr>
<p><strong>Content: </strong>
    <%= @article.text %>
</p>
<p> <%= @article.created_at %></p>
<hr>
<h2>commments</h2>
<% @article.comments.each do | com| %>
<p><strong>
    Commenter:
</strong>
    <%= com.commenter %>
</p>

<p>
    <strong>Comment</strong>
    <%= com.comment %>
</p>
<p>
    <%= com.created_at %>
</p>
<p>
    <%= link_to "Delete Comment", [com.article, com],
     method: :Delete, 
    data: { confirm: "Are you Suer ???"} %>
</p>

<%end%>


<%= render  "resource/comment" %>
        <p>
        <%= link_to  "Home", root_path %> |
         <%= link_to  "Posts", articles_path %>
        </p>