<div class="row">
    <div class="col-md-8 offset-md-2" >

            <div class="head" style="margin-top: 5vh; text-align:center;">
                   
                            <%= link_to  "Home", root_path, class:'btn btn-primary btn-lg' %> |
                             <%= link_to  "Posts", articles_path, class:'btn btn-primary btn-lg' %>
                            <hr>
            </div>

            <div class="post">
                    <h1><%= @article.title %></h1>
                    <hr>
                     <p>
                         <%= @article.text %>
                     </p>
                     <p> <%= @article.created_at %></p>
                     <hr>
                     <h4>commments</h4>
                     <% @article.comments.each do | com| %>
                        <div class="jumbotron" style="padding: 1vh; margin:5vh;">

                                <p>
         
                                        <%= com.comment %><br>
                                        by: <%= com.commenter %><br>
                                        <%= com.created_at %><br>
                                        <%= link_to "Delete Comment", [com.article, com],
                                         method: :Delete, 
                                        data: { confirm: "Are you Suer ???"} %>
                                    </p>

                        </div>
                     <%end%>
                     
            </div>
            
            
           <div style="margin-bottom: 10vh;">
                <%= render  "resource/comment" %>
           </div>
                    

    </div>
</div>